body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    min-width: 400px;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: column;
}

#fakeCookie {
    font-size: 28px;
}

#cookieInfo {
    justify-self: end;
    display: flex;
    flex-flow: column;
    align-items: center;
}