/* This is the css styling file for git-and-github-notes.html*/
body {
    background-color: bisque;
}

strong {
    font-size: 1.5em;
}

.CrashCourseNotes {
    color: maroon;
}

.PushingToGithub {
    color: saddlebrown;
}

.GitIt {
    color: sienna;
}