html {
    background-color: green;
}

.parent {
    color:aqua
}

.child{
    color: deepskyblue;
}

.textMain {
    color:ghostwhite;
}

.removal {
    width: 100px;
    height: 20px;
}

.dark {
    background-color: black;
    border-radius: 10px;
}