img {
    height: 50px;
}

.commentCollection {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.commentCard {
    margin-bottom: 50px;
}

.commentHeading {
    display: flex;
    justify-content: space-around;
    width: 350px;
}

.commentButtons {
    display: flex;
    justify-content: space-around;
    width: 350px;
}